
body {
  background-color: #0D294F;
  justify-content: center;
  display: inline-block;
  font-family: 'Alfa Slab One';
}

input {
  font-size: 18px;
  border: 2px solid #476b6b;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type="text"] {
  background-color: #f0f5f5;
  color: black;
}

.thermostat {
  background-color: beige;
  justify-content: center;
  text-align: center;
  display: block;
  height: 700px;
  width: 500px;
}

.upperButtons {
  margin: 20px;
  display: inline-block;
  border: 2px solid #476b6b;
  width: 300px;
}

button {
  width: 100%;
}
